<div class="large--hide box-primary inline-block text-inverted padding--down-2 text-caps font-secondary font-size--down-2" style="position: fixed; bottom: 0; right: 0; z-index: 9999;">
  <a href="#">
    <i class="fa fa-chevron-up"></i> &nbsp; top
  </a>
</div>
