<div class="grid-item text-center margin-top--up-2">
  <a href="{{ button.url }}" target="_blank" class="button-primary-filled border-primary hover-border-primary border-radius box-center large--six-tenths medium-down--one-whole text-caps font-size--up-1 text-center padding-top-bottom--up-1 line-height--0">
    {{ button.label }}
  </a>
</div>