<div class="theme-container large--padding-bottom--up-5 medium-only--padding-bottom--up-4 small--padding-bottom--up-3">

  <div class="grid large--margin-top--up-3 medium--margin-top--up-1 small--margin-top--0 grid-gutter--up-3">

    {% assign collection = collections[settings.homepage_featured_collection_collection_1] %}
    {% assign linklist = linklists[settings.homepage_featured_collection_linklist_1] %}
    {% assign image_url = settings.homepage_featured_collection_image_1 | img_url: '697x' %}
    {% include "homepage-section-image-top-links-bottom" %}

    <div class="grid-item large--one-half">
      <div class="grid">

        <div class="grid-item large--margin-bottom--up-3 medium-only--margin-bottom--up-1 small--margin-top--0 small--margin-bottom--0">
          <div class="grid grid-gutter--none">

            {% assign collection = collections[settings.homepage_featured_collection_collection_2] %}
            {% assign linklist = linklists[settings.homepage_featured_collection_linklist_2] %}
            {% assign image_url = settings.homepage_featured_collection_image_2 | img_url: '348x' %}
            {% include "homepage-section-image-left-links-right" %}

          </div>
        </div>

        <div class="grid-item">
          <div class="grid grid-gutter--none">

            {% assign collection = collections[settings.homepage_featured_collection_collection_3] %}
            {% assign linklist = linklists[settings.homepage_featured_collection_linklist_3] %}
            {% assign image_url = settings.homepage_featured_collection_image_3 | img_url: '348x' %}
            {% include "homepage-section-image-right-links-left" %}
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="grid large--margin-top--up-3 medium--margin-top--up-1 small--margin-top--0 grid-gutter--up-3 small--margin-bottom--0">

    {% assign collection = collections[settings.homepage_featured_collection_collection_4] %}
    {% assign linklist = linklists[settings.homepage_featured_collection_linklist_4] %}
    {% assign image_url = settings.homepage_featured_collection_image_4 | img_url: '697x' %}
    {% include "homepage-section-image-top-links-bottom" %}

    {% assign collection = collections[settings.homepage_featured_collection_collection_5] %}
    {% assign linklist = linklists[settings.homepage_featured_collection_linklist_5] %}
    {% assign image_url = settings.homepage_featured_collection_image_5 | img_url: '697x' %}
    {% include "homepage-section-image-top-links-bottom" %}

  </div>

  <div class="grid large--margin-top--up-3 medium--margin-top--up-1 small--margin-top--0 grid-gutter--up-3">

    {% assign collection = collections[settings.homepage_featured_collection_collection_6] %}
    {% assign linklist = linklists[settings.homepage_featured_collection_linklist_6] %}
    {% assign image_url = settings.homepage_featured_collection_image_6 | img_url: '697x' %}
    {% include "homepage-section-image-top-links-bottom" %}

    <div class="grid-item large--one-half">
      <div class="grid">

        <div class="grid-item large--margin-bottom--up-3 medium-only--margin-bottom--up-1 small--margin-top--0 small--margin-bottom--0">
          <div class="grid grid-gutter--none">
            {% assign collection = collections[settings.homepage_featured_collection_collection_7] %}
            {% assign linklist = linklists[settings.homepage_featured_collection_linklist_7] %}
            {% assign image_url = settings.homepage_featured_collection_image_7 | img_url: '348x' %}
            {% include "homepage-section-image-left-links-right" %}
          </div>
        </div>

        <div class="grid-item">
          <div class="grid grid-gutter--none">
            {% assign collection = collections[settings.homepage_featured_collection_collection_8] %}
            {% assign linklist = linklists[settings.homepage_featured_collection_linklist_8] %}
            {% assign image_url = settings.homepage_featured_collection_image_8 | img_url: '348x' %}
            {% include "homepage-section-image-right-links-left" %}
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="grid large--margin-top--up-3 medium--margin-top--up-1 small--margin-top--0 grid-gutter--up-3">

    <div class="grid-item large--one-half medium-only--margin-bottom--up-1 small--margin-top--0 small--margin-bottom--0">
      <div class="grid grid-gutter--none">
        {% assign collection = collections[settings.homepage_featured_collection_collection_9] %}
        {% assign linklist = linklists[settings.homepage_featured_collection_linklist_9] %}
        {% assign image_url = settings.homepage_featured_collection_image_9 | img_url: '348x' %}
        {% include "homepage-section-image-right-links-left" %}
      </div>
    </div>

    <div class="grid-item large--one-half">
      <div class="grid grid-gutter--none">
        {% assign collection = collections[settings.homepage_featured_collection_collection_10] %}
        {% assign linklist = linklists[settings.homepage_featured_collection_linklist_10] %}
        {% assign image_url = settings.homepage_featured_collection_image_10 | img_url: '348x' %}
        {% include "homepage-section-image-left-links-right" %}
      </div>
    </div>

  </div>

</div>
