{% assign image_url = section.settings.page_shipping_flat_rate_image | img_url: "master" %}
{% assign header = section.settings.page_shipping_flat_rate_header %}
{% assign description = section.settings.page_shipping_flat_rate_description | remove: "<p>" | remove: "</p>" %}
<div class="shipping_flat_rate_wrap pb-30">
  <h3 class="font-bold font-size--up-3 font-secondary line-height--up-6 margin-bottom--down-1 medium-down--font-size--up-2">{{ header }}</h3>
  <div class="medium-down--font-size--up-1 font-size--up-2 line-height--up-5">{{ description }}</div>
</div>
