{% assign header = section.settings.page_shipping_rush_deliveries_header %}

{% assign image_url = section.settings.page_shipping_rush_deliveries_icon | img_url: 'master' %}

{% assign title = section.settings.page_shipping_rush_deliveries_title %}

{% assign description = section.settings.page_shipping_rush_deliveries_description | replace: '<p>', '<p class="medium-down--font-size--up-1 font-size--up-2 line-height--up-5 padding--left-right--none">' %}

<div class="one-whole">
  <h3 class="font-bold font-size--up-3 font-secondary line-height--up-6 margin-bottom--down-1 medium-down--font-size--up-2">{{ title }}</h3>
  <div class="medium-down--font-size--up-1 font-size--up-2 line-height--up-5">
    {{ description }}
  </div>
</div>
