{% assign button_link = "#kit-collection-product-list" %}

{% assign add_to_cart_call_to_action = settings.kit_call_to_action_label %}

<div class="grid-item large--one-whole medium-only--five-tenths large--margin-top--down-1 small--margin-top--down-1">
  <a href="{{ button_link }}" class="button-primary-filled border-primary hover-border-primary border-radius text-caps font-size--up-1 text-center one-whole padding-top-bottom--up-1">
    <span class="js-add-text">{{ add_to_cart_call_to_action }}</span>
  </a>
</div>
