<a href="#shopify-product-reviews" class="padding-left--none position-relative product-detail-star-rating large--pb-15 pb-20">
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
</a>
