<div class="theme-container large--margin-top--up-5 medium--margin-top--up-3 small--margin-top--up-2">
  <div id="shopify-product-reviews" data-id="{{ current_product.id }}">
    {{ current_product.metafields.spr.reviews }}
  </div>
</div>
