{% include "attribute-current-params-qty" %}

{% if current_params_qty %}
  {% assign default_quantity = current_params_qty %}
{% else %}
  {% assign default_quantity = 1 %}
{% endif %}

<div class="grid-item kit-cart-qty">
  <div class="grid-bar grid-gutter--none">
    {% comment %} <div class="grid-item two-fifths">
      <div style="background-color: #e0e0e0; border: 3px solid #e0e0e0" class="padding-top-bottom--0 text-center border-radius-top-left border-radius-bottom-left">
        <label class="line-height--none text-caps font-size--down-2 line-height--up-9 block" for="quantity">
          {{ settings.product_metadata_product_quantity_label }}
        </label>
      </div>
    </div> {% endcomment %}
    <div class="grid-item one-whole">
      <div class="border-detail text-center border-radius-top-right border-radius-bottom-right custom-number-input">
        {% assign iconwidth = 12 %}
        {% assign iconheight = 12 %}
        <span class="decrement">{% include 'icon-negative', settings:iconwidth, settings:iconheight %}</span>
        <input class="font-size--down-1 text-center one-whole pt-6 pb-6 pl-15 pr-15 font-secondary font-bold margin--none" type="number" id="quantity" name="quantity" value="{{ default_quantity }}" min="1" />
        <span class="increment">{% include 'icon-plus', settings:iconwidth, settings:iconheight %}</span>
      </div>
    </div>
  </div>
</div>
