<div class="text-center xlarge--padding-left--none xlarge--padding-right--none border-radius">
  <img id="product-image" src="{{ product_featured_image.src | img_url: '520x' }}" data-zoom="{{ product_featured_image.src | img_url: '1024x1024' }}" alt="{{ product_featured_image.alt }}" />
</div>
