<div class="text-center margin-bottom--up-1 medium-only--box-center large--padding-left--up-2 large--padding-right--up-2 xlarge--padding-left--none xlarge--padding-right--none">
  <img id="product-image" src="{{ product_featured_image.src | img_url: '520x' }}" data-zoom="{{ product_featured_image.src | img_url: '1024x1024' }}" alt="{{ product_featured_image.alt }}" />
</div>
