<p>
  {% include "product-kit-form-price" %}
</p>

<div class="grid margin-top--down-1 large--margin-bottom--up-3 medium-only--margin-bottom--up-2 small--margin-bottom--up-1">
  {% include "product-kit-form-call-to-action" %}
</div>
