<a href="#shopify-product-reviews" class="position-relative position-top-negative--down-4 large--margin-bottom--up-5 medium-down--margin-bottom--0 block">
  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
</a>
