<div class="modal-overlay">
  <div class="modal-content">
    <h2 style="margin-bottom: 1em; font-weight: 800">
      UPS Shipping Choice
    </h2>
    <p>
      UPS uses a standard formatting for addressing on packaging. We want to ensure that your package is shipped as quickly as possible.
    </p>
    <div style="padding-top: 20px; padding-bottom: 20px;" data-js-you-entered-container>

    </div>
    <p style="margin-bottom: 1em;">
      <strong style="font-weight: 700">Please choose the address below that best fits the address of your shipping location.</strong>
    </p>
    <div data-js-address-container>

    </div>
    <button name="button" type="submit" class="js-accept-address step__footer__continue-btn btn">
      <span class="btn__content">Accept updated address</span>
    </button>

  </div>
</div>
