{% include "breadcrumb" %}

<div class="padding-bottom--up-7 large--padding-top--up-6">
  <div class="theme-container">
    <div class="rte-privacy-policy-terms box-center large--one-half">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Privacy Policy",
  "settings": [
  ]
}
{% endschema %}